.chart-all-agv {
    width: 100%;
    height: 420px;
    background-color: white;
    padding: 12px;

}

.chart {
    width: 100%;
    height: 85%;
}

.agv-one-box {
    width: 100%;
    display: flex;
    column-gap: 1rem;
    margin-top: 1rem;
    position: relative;
}

.battery-label-center {
    display: none;
    position: absolute;
    padding: 6px;
    margin: 0;
    text-align: center;
    left: 50%;
    top: 50%;
    font-weight: lighter;
    width: 220px;
    height: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    color: rgb(55, 55, 55);
    border: 1px solid #9b9b9b;
    background-color: rgb(255, 255, 255);
}

.battery-label-center-hr {
    display: none;
    width: 100%;
    position: absolute;
    top: 365px;
    height: 2px;
}

.agv-one-box .agv-one-chart {
    width: auto;
    flex: 1 0 auto;
    height: 380px;
    background-color: white;
    padding: 12px;
}

.agv-one-box .battery-current {
    flex: 0 0 auto;
    background-color: white;
    padding: 12px;

}

.text-batteryDonut {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.text-batteryDonut .animation {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        text-shadow:
            1px 1px 2px red,
            0 0 1px red,
            0 0 5px red;
    }
    50% {
        text-shadow:
            1px 1px 4px red,
            0 0 20px red,
            0 0 40px red;
    }
    100% {
        text-shadow:
            1px 1px 2px red,
            0 0 1px red,
            0 0 5px red;
    }
}

.color-red {
    color: red;
}

.color-black {
    color: black;
}