.card-change-password {
    position: relative;
    margin: 80px 0.5rem;
    width: 450px;
    height: fit-content;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #ffffff;
}

.card-change-password .input-user {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 8px;
    background: #f5f5f5;
    color: rgb(3, 3, 3);
    border: 1px solid #bababa;
    border-radius: 5px;
}

.card-change-password h1 {
    font-weight: 600;
    color: #000000;
    font-size: 32px;
}

.card-change-password .btn-change-password {
    width: 100%;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
}

.card-change-password label {
    color: #636363
}

.card-change-password .btn-eye {
    position: absolute;
    top: 8px;
    right: 12px;
    border: none;
    font-size: 20px;
    background-color: transparent;
}


.card-change-password .box-text-error {
    width: 100%;
    padding: 4px;
    height: 40px;
    background: #ffe3e3;
    color: #ff0000;
    font-size: 20px;
    text-align: center;
}

.card-change-password .button-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #ffffff;
    border: 1px solid #0066ff;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-change-password .button-close:active {
    width: 30px;
    height: 30px;
}