.user-modal-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(100vh + 64px);
    background-color: var(--bgc-bg-gray-color);
    z-index: 9;
    display: flex;
    justify-content: center;
}

.card-modal {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 24px 1rem 0;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: visible;
    margin: 80px 1rem 1rem;

}

.height-card-modal-edit {
    min-height: 530px !important;
    width: 700px;
}


.card-user {
    padding: 2rem 1rem;
    min-width: 320px;
    max-width: 400px;
    width: auto;
    background-color: #ffffff;
    border-radius: 10px;
    align-self: flex-start;

}

.card-user form>label {
    color: #858585
}

#modal55 .input-user {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 8px;
    background: #f5f5f5;
    color: rgb(3, 3, 3);
    border: 1px solid #bababa;
    border-radius: 5px;
}

#modal55 button[type="submit"] {
    border-radius: 5px;
    background-color: #0074E4;
    width: 100%;
    height: 50px;
    padding: 0;
    color: #FFFFFF;
}

#modal55 button[type="submit"]:hover {
    background-color: #00509b;
}

#modal55 .button-close {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #ffffff;
    border: 1px solid #0066ff;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#modal55 .button-close:active {
    width: 30px;
    height: 30px;
}

#modal55 button[type="submit"]:active {
    transform: scale(0.98);
}

.img-create-user {
    width: 350px;
    height: auto;
}

.text-response {
    margin-top: 32px;
    width: 100%;
    padding: 8px;
}

.bg-error {
    background-color: #ffdfdf;
}

.bg-ok {
    background-color: #dcffe4;

}

.create-user-password-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.create-user-password-box>button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 12px;
}

.option-font-size option {
    font-size: 12px !important;
}