.mission-box-page {
  padding-top: 32px;
  width: 100%;
  overflow: auto;
}

.box-title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 0;
}

.mission-title-box {
  width: 100%;
  padding-left: 30px;
  height: fit-content;
}

.mission-box-page .title1 {
  font-size: 16px;
  color: rgb(9, 84, 84);
  font-style: italic;

}

.container-card {
  border-radius: 12px;
  height: auto;
  padding: 0 0 2rem;
  margin: 0 1rem 3rem;
  background-color: white !important;
  animation: form-fade 1s linear forwards;

}
.head-table-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mission-circle-icon {
  width: 22px;
  height: 22px;
  margin-right: .4rem;
  border-radius: 50%;
  background-color: #fff4ac;
  display: flex;
  align-items: center;
  justify-content: center;
}



.color-blue {
  background-color: #d6d5ff;
}

.mission-content-box {
  width: 100%;
  height: 100%;
  background-color: #ffadad;
}

.mission-header {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #979797;
}

.modal-cancel-mission {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000039;
  backdrop-filter: blur(4px);
}

.selected-mission-btn {
  display: flex;
  align-items: end;
  flex-wrap: nowrap;
  width: 100%;
  overflow-y: visible;
  margin-right: 0.5rem;
  padding: 0 0 0 2rem;
}

.selected-mission-btn button {
  padding: 0.5rem 1rem;
  margin: 1px 0.5rem;
  font-size: 12px;
  border: none;
  font-weight: 400;
  color: #8F8F8F;
  cursor: pointer;
  background-color: transparent;
  min-width: 100px !important;
  white-space: nowrap;
}

.selected-mission-btn button:hover {
  transform: scale(1.2);

}

.selected-mission-btn button:focus,
.selected-mission-btn button.active {
  transform: scale(1.15);
  color: black;
  background-color: white !important;
  border: 1px solid #8F8F8F;
  border-top: red 4px solid;
  border-bottom: 3px solid #ffffff;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.btn-circle-overflow {
  position: absolute;
  background-color: #dbdbdb;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  font-size: 16px;
}

.input-date-box {
  display: flex;
  align-items: end;
  justify-content: start;
  margin: 0 2rem 0 1rem;
  padding-bottom: 8px;
}

.selected-agv-box {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 8px;
}

.selected-agv-box button {
  width: 80px;
  height: 32px;
  border-radius: 5px;
  background-color: white;
  color: #555555;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid #555555;
  margin-right: 12px;
}

.selected-agv-box button:hover {
  transform: scale(1.05);
}

.selected-agv-box button.active {
  background-color: var(--drawer-text-color);
  color: white;
  font-weight: 600;
}

.form-group {
  width: 150px;
  height: 56px;
  margin-right: 16px;
  background-color: transparent;
}

.form-group label {
  font-size: 14px;
  color: #5a5a5a;
  display: block;
}

.form-group>.box-of-text-date {
  position: relative;
  width: 150px;
  padding-top: 4px;
  height: 34px;
  background-color: #ffffff;
  border: 1px solid #8c8c8c;
}

.form-group>.box-of-text-date:hover {
  border: 2px solid #000000;
}


.form-group input[type="text"] {
  width: 150px;
  height: 34px;
  bottom: 12px;
  left: 0;
  position: absolute;
  opacity: 0;
}


.export-btn2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.export-btn2 span {
  font-size: 16px;
  padding-left: 0.4rem;
}

.export-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  padding: 0.5rem 1.2rem;
  height: 40px;
  background-color: var(--drawer-text-color);
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.export-btn:hover {
  background-color: #0016df;
}

.export-btn:active {
  transform: scale(0.95);
  background-color: #0016df;
}

.export-btn2:hover {
  background-color: #292929;
}

.export-btn2:active {
  transform: scale(0.95);
}

.table-container {
  margin: 2rem 1rem 1rem;
  border: 1px solid #979797;
  border-radius: 8px;
  max-height: 550px;
  height: 550px;
}

.table-container thead {
  background-color: transparent;
  position: sticky;
  top: 0;
  left: 0;
}

.table-container tbody td {
  color: #515151;
}

.circle-vehicle-icon {
  width: 16px;
  height: 16px;
  margin-right: .4rem;
  border-radius: 50%;
}

.td-vehicle-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-status {
  margin: 0 auto;
  font-weight: 600;
  max-width: 100px;
  padding: 0.3rem 0.6rem;
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tb-mission-pause {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 90px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 auto;
  border: 1px solid rgb(162, 162, 162);
  background-color: rgb(162, 162, 162);
  color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.tb-mission-pause:hover {
  background-color: #e2e2e2;
  transform: scale(1.05);
}

.tb-mission-pause:active {
  transform: scale(0.95);
}

.table-container th {
  font-weight: 600;
  font-size: 12px;
}

tbody td {
  font-size: 14px;
}

.pagination {
  padding-right: 12px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #0400ff;
  color: white;
  border-radius: 5px;
}

.pagination .disabled {
  pointer-events: none;
  color: gray;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.page-number-d-flex {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px
}

.tooltip-container {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 40px;
}

.tooltip-container button[type='button'] {
  width: 100%;
  height: 100%;
  color: #212121;
  background: #fcfcfc;
  border: 1px solid #b2b2b2;
}

.tooltip-container button[type='button']:focus+.box-tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip-container button[type='button']+.box-tooltip:hover {
  visibility: visible;
  opacity: 1;
}

.tooltip-container .box-tooltip {
  visibility: hidden;
  opacity: 0;
  text-align: center;
  background-color: rgb(241, 241, 241);
  width: 120px;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  bottom: 44px;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s;
}

.box-tooltip .btn-page-size {
  width: 80px;
  height: 32px;
  display: block;
  margin: 8px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #ffffff;
}

.box-tooltip .btn-page-size:hover {
  width: 75px;
  height: 30px;
  background: #cecece;
}