 .box-of-search {
     width: 300px;
     height: fit-content;
     padding-top: 1rem;
     padding-inline: 1rem;
     text-wrap: nowrap;
     z-index: 0;
 }

 .user-card .title {
     width: 290px;
 }

 .search-content {
     display: flex;
     flex-direction: column;
     z-index: 0;
 }

 .user-card {
     border-radius: 12px;
     height: auto;
     padding-bottom: 1rem;
     background-color: rgb(255, 255, 255) !important;
 }

 .create-reload-mobile-button {
     display: none;
 }

 .box-of-search-content-item {
     margin: 8px 0;
 }

 .box-of-search input[type='text'] {
     border: 1px solid #bababa;
     height: 2rem;
     width: 100%;
     min-width: 100px;
     max-width: 300px;
     border-radius: 5px;
 }

 .box-of-search input:focus {
     background-color: #deffff;

 }

 .box-of-search input[type="checkbox"] {
     background-color: #deffff;
     width: 1rem;
     height: 1rem;
     margin-right: 1rem;
 }

 .boxonline {
     display: flex;
     color: #00d953;
     width: fit-content;
     height: 28px;
     padding-inline: 8px;
     border-radius: 2px;
     justify-content: center;
     align-items: center;
     font-size: 12px;
     font-weight: 600;
     background-color: rgb(234, 255, 222);
 }

 .btn-bg-none {
     width: 50%;
     background-color: transparent;
     border: none;
 }

 .display-option-bg {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vw;
 }

 .display-option {
     position: fixed;
     width: fit-content;
     min-width: 140px;
     background-color: #ffffff;
     border-radius: 6px;
     padding: 0.5rem .3rem;
     border: 1px solid #d7d7d7;
     box-shadow: rgba(153, 153, 153, 0.24) 0px 3px 8px;
 }

 .display-option .btn-mode-option {
     display: flex;
     align-items: center;
     padding: 0.2rem 1rem;
     cursor: pointer;
     color: #000000;
     margin-bottom: .5rem;
     background-color: #ffffff;
 }

 .display-option .btn-mode-option:active {
     transform: scale(0.95);
 }

 .display-option .btn-mode-option:hover {
     border-bottom: 1px solid #ff9d00;
 }

 .display-option .btn-mode-option p {
     margin: 0;
     margin-left: 8px;
     font-size: 12px;
 }

 .column-user-table {
     padding: 1rem;
 }

 .table-user {
     margin: 1rem 0;
     border: 1px solid #979797;
     border-radius: 8px;
     min-height: 600px;
     overflow: auto;
     font-size: 10px;
 }

 .table-user th {
     color: #4a4a4a !important;
 }

 .fixed-bg-delete {
     position: fixed;
     z-index: 2;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: #00000039;
     display: flex;
     justify-content: center;
     align-items: center;
     backdrop-filter: blur(2px);
 }

 .box-confirm-delete {
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.1);
     padding: 16px;
     width: 400px;
     height: 280px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     background-color: #ffffff;
 }

 .box-confirm-delete .box-confirm-delete-btn {
     display: flex;
     width: 100%;
     justify-content: center;
     column-gap: 16px;
     margin-top: 40px;

 }

 .name-user {
     font-size: 24px;
     font-weight: 600;
     color: #0091ff;
 }