.dialog-command {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(132, 132, 132, 0.656);
}

.map-command-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
   
    width: 1300px;
    height: 700px;
    background-color: white;
}
.station-container{
    width: 73%;
    height: 65%;
    margin: 20px 10px;
 }
 .station-list{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 16px 16px;
  }
.map-canvas-container {
    width: 73%;
    height: 65%;
    border: 1px solid black;
    margin: 10px;
    position: relative;
}

.map-canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.header-robot-command {

    background: linear-gradient(135deg, #8a1e1e 0%, #f63b3b 100%);
    width: 100%;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.robot-container {
    flex: 1;
    height: 100%;
    padding: 20px;
    background-color: #8a1e1e;
}
.station-btn-flex {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 12px 12px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
   background: linear-gradient(135deg, #8a1e1e 0%, #f63b3b 100%);
    margin-right: 16px;
    margin-bottom: 16px;
    display: flex;    
    align-items: center;
    justify-content: center;
}
.station-btn {
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    padding: 12px 12px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    background: #e52323;
    position: absolute;
}

.station-line-process {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    border-left: #ffffff 8px solid;
    margin-top: 16px;
    color: rgb(255, 255, 255);
    padding-left: 32px;
    overflow-y: auto;
    max-height: 420px;
}

.station-line-process p {
    font-size: 14px;
}

.station-name {
    font-size: large;
    font-weight: 600;
}

.station-sub {
    font-size: small;
    opacity: 0.7;
}

.circle-delete-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
}

.circle-delete-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.circle-delete-btn:active {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0.98);
}

.add-station-btn {
    align-self: flex-end;
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 12px;
    background: #e52323;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 8px;
    transition: transform 0.3s;
}

.add-station-btn:hover,.btnGoHome:hover {
    transform: translateY(-2px);
}

.robot-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 16px;
    accent-color: #000000;
}

.add-station-btn:active,.btnGoHome:active {
    transform: scale(0.98);
}

.urgent-text {
    color: rgb(239, 255, 9);
    font-weight: 600;
}

.add-animation {
    animation: addStationAnim 0.5s ease-in-out;
}

@keyframes addStationAnim {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btnGoHome {
     margin-top: 8px;
    padding: 8px 16px;
    color: white;
    background: #e52323;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
.urgent-select{
    margin-left: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: black;
     font-size: 16px;
    font-weight: 600;
}